<nav class="nav-menu animate delay-1">
    <a href="index.html" class="nav-link" data-page="home">
        <i class="fas fa-home"></i> Главная
    </a>
    <a href="ferries.html" class="nav-link" data-page="ferries">
        <i class="fas fa-ferry"></i> Переправы
    </a>
    <a href="https://vtcpanel.com/company2549" target="_blank" class="nav-link">
        <i class="fas fa-truck"></i> Мы на VTC
    </a>
    <a href="https://discord.gg/ZGQwsfPBC9" target="_blank" class="nav-link">
        <i class="fab fa-discord"></i> Мы в Discord
    </a>
</nav>